$dark-blue: #03588C;
$light-blue: #4393D9;
$yellow: #F2BF27;
$test-border: 1px solid red;

// font-family: 'Comfortaa', cursive;
// font-family: 'Macondo Swash Caps', cursive;
// font-family: 'Roboto', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
}

body {
  background-color: $light-blue;
}

.logo {
  color: $yellow;
  font-family: 'Macondo Swash Caps', cursive;
  font-size: 38px;
  font-weight: bold;
  left: 30px;
  top: 20px;
  position: absolute;
  text-shadow: -1px -1px 0 $dark-blue,  
  1px -1px 0 $dark-blue,
  -1px 1px 0 $dark-blue,
  1px 1px 0 $dark-blue;
}


.main__entering-names-background {
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  // display: none;
}

.main__entering-names {
  width: 800px;
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.player-names-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.main__entering-names-header {
  text-align: center;
}
.main__entering-names-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-btn {
  background-color: $yellow;
  border-radius: 4px;
  border: 1px solid #fff;
  color: $dark-blue;
  font-size: 20px;
  height: 35px;
  padding-top: 5px;
  width: 250px;
}

.restart-btn {
  background-color: rgba(242, 292, 39, 0.15);
  border-radius: 4px;
  border: 1px solid rgba(255,255,255,0.2);
  color: rgba(0,0,0,0.2);
  font-size: 20px;
  height: 35px;
  padding-top: 5px;
  width: 150px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.restart-btn:hover {
  background-color: $yellow;
  border: 1px solid #fff;
  color: $dark-blue;
}

.yellow-text {
  color: $yellow;
}

.player-input-label {
  font-size: 20px;
}

.player-input {
  width: 200px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid $yellow;
  background-color: $light-blue;
  padding-left: 10px;
  font-size: 20px;
}

.main__entering-names-header {
  color: #fff;
  font-size: 20px;
} 


.main__game-background {
  width: 100%;

}

.main__game-board-container {
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  max-width: 1000px;
  width: 90%;
  // height: 550px
}

.main__game-board {
  border: 1px solid #000;
  width: 100%;
  height: 80%;
  // height: 500px;
  height: 60vh;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  z-index: 2;
}
tr {
  width: 100%;
  background-color: $dark-blue;
}

th, td {
  border: 2px solid  #B5B5B5;
}
th {
  color: $yellow;
  padding: 10px;
  height: 15%;
  font-size: 24px;
}

td {
  color: $yellow;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  height: 21.25%;
  z-index: 2;
};

.clue-class {
  color: #fff;
  font-size: 16px;
  padding-left: 5px;
  text-align: left;
};



.prompt {
  transition: 0.2s;
  z-index: 1;
  position: relative;
};

.prompt-translate-out {
  transform: translateY(-45px);
  transition: 0.2s;
  z-index: 1;
  position: relative;
};

.main__game-prompts {
  height: 40px;
  background-color: #000;
  color: #fff;
  padding-left: 10px;
  padding-top: 11px;
  font-size: 18px;
  border-left: 2px solid #B5B5B5;
  border-right: 2px solid #B5B5B5;
  z-index: -2;
};

.main__game-your-answer-container {
  align-items: center;
  background-color: #B5B5B5;
  border-left: 0px solid #B5B5B5;
  border-right: 2px solid #B5B5B5;
  display: flex;
  height: 55px;
  justify-content: flex-start;
  max-width: 1000px;
  position: absolute;
  transform: translateY(-45px);
  transition: 0.2s;
  width: 90%;
  z-index: -1;
}

.slide-down {
  transform: translateY(0px);
  transition: 0.2s;
  
}

.your-answer-input,
.your-daily-double-input {
  width: 275px;
  height: 27px;
  padding-left: 10px;
  border-radius: 4px;
  background-color: #DEDDDD;
  border: 1px solid #6A6A6A;
  margin-left: 43px;
}

.go-btn-class {
  width: 275px;
  height: 27px;
  border-radius: 4px;
  background-color: $yellow;
  color: $dark-blue;
  border: $dark-blue 1px solid;
  margin-left: 43px;
}

.main__players-container {
  width: 100%;
  height: 90px;
  bottom: 0;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
}

.main__players {
  width: 90%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.main__players-player-value {
  border: #000 1px solid;
  width: 30%;
  height: 70px;
  position: relative;
  text-align: center;
  padding-top: 7px;
  background-color: $dark-blue;
  color: #fff;
  font-size: 25px;
}

.main__players-player-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 30px;
  padding-top: 8px;
  background-color: #000;
  color: $yellow;
  font-size: 16px;
}

.players-turn {
  background-color: $yellow;
  color: black;
}

.players-turn-border {
  border: 1px solid $yellow;
}

.daily-double {
  background-color: $yellow;
  color: $dark-blue;
  font-size: 20px;
}

.daily-double-wage,
.main__game__all-wagers,
.main__game__all-answers,
.daily-double-wager {
  display: none;
}

.reveal {
  display: block;
}

.header-final-round {
  height: 80px;
  color: $yellow;
  text-align: center;
  border: 2px solid  #B5B5B5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-final-round {
  height: 86.7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid  #B5B5B5;
}

